<div class="container ads-section">
  <div class="row">
    <div class="col-lg-12 col-12 p-0">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="https://img.freepik.com/free-photo/full-shot-man-experiencing-virtual-reality_23-2149548139.jpg?w=826&t=st=1685528500~exp=1685529100~hmac=f1ca0a685c61092e5287b3d0ea9d2117d988b171781ca7c00416346d95241d6f" alt=""></div>
          <div class="swiper-slide"><img src="https://img.freepik.com/free-photo/portrait-young-african-american-man-with-vr-glasses_23-2148932811.jpg?w=1060&t=st=1685528988~exp=1685529588~hmac=b1f660e6e2c50853965ed77ba4cd83978723a8ea3fbf9ef85fef41ad05098601" alt=""></div>
          <div class="swiper-slide"><img src="https://img.freepik.com/free-photo/full-shot-man-experiencing-virtual-reality_23-2149548139.jpg?w=826&t=st=1685528500~exp=1685529100~hmac=f1ca0a685c61092e5287b3d0ea9d2117d988b171781ca7c00416346d95241d6f" alt=""></div>
          <div class="swiper-slide"><img src="https://img.freepik.com/free-photo/full-shot-man-experiencing-virtual-reality_23-2149548139.jpg?w=826&t=st=1685528500~exp=1685529100~hmac=f1ca0a685c61092e5287b3d0ea9d2117d988b171781ca7c00416346d95241d6f" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: 1000,
    speed: 800,
    autoplayDisableOnInteraction: false
  });
</script>
