<div class="container-fluid category-section p-0">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-12 col-12 mb-5 mt-3">
        <div class="category-heading text-center">
          <h1>BEST CATEGORY</h1>
        </div>
      </div>
      <div class="col-lg-12 col-12 mx-auto">
        <div class="category-store">
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/french-fries.png" alt="" />
              <h5>Food</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/computer.png" alt="" />
              <h5>Electronics</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/books.png" alt="" />
              <h5>Books</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/make-up.png" alt="" />
              <h5>Makeup</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/necklace.png" alt="" />
              <h5>Necklace</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/sweater.png" alt="" />
              <h5>Cloths</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/medicine.png" alt="" />
              <h5>Medicine</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/shelves.png" alt="" />
              <h5>Kitchen</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/necklace.png" alt="" />
              <h5>Necklace</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/sweater.png" alt="" />
              <h5>Cloths</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/medicine.png" alt="" />
              <h5>Medicine</h5>
            </div>
          </a>
          <a href="">
            <div class="category">
              <img src="../../assets/img/category/shelves.png" alt="" />
              <h5>Kitchen</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
