<div class="container slider-banner-section-head-div">
  <div class="slider-banner-section-chlid-div">
    <div class="row">
      <div class="col-6">
        <div class="slider-div">
          <div class="your-class">
            <div class="slider-img-div">
              <img
                src="https://img.freepik.com/free-photo/full-shot-man-experiencing-virtual-reality_23-2149548139.jpg?w=826&t=st=1685528500~exp=1685529100~hmac=f1ca0a685c61092e5287b3d0ea9d2117d988b171781ca7c00416346d95241d6f"
                alt="" />
            </div>
            <div class="slider-img-div">
              <img
                src="https://img.freepik.com/free-photo/portrait-young-african-american-man-with-vr-glasses_23-2148932811.jpg?w=1060&t=st=1685528988~exp=1685529588~hmac=b1f660e6e2c50853965ed77ba4cd83978723a8ea3fbf9ef85fef41ad05098601"
                alt="" />
            </div>

            <div class="slider-img-div">
              <img
                src="https://img.freepik.com/free-photo/excited-male-user-wearing-vr-glasses-touching-device_74855-3395.jpg?w=900&t=st=1685528739~exp=1685529339~hmac=b46c7405c4541a52c15c634e06063122a58de0ffd495a152ef9019677f8680ce"
                alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="ads-section-head-div">
          <div class="row">
            <div class="col-6">
              <div class="big-add-img-div">
                <img
                  src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=900&t=st=1685530287~exp=1685530887~hmac=98ffefe3d14daa7d42648d7a9db11e7aa5bc154c63ad219771d901d203f087f4"
                  alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12 mb-4">
                  <div class="two-add-img-div">
                    <img
                      src="https://img.freepik.com/free-photo/digital-painting-mountain-with-colorful-tree-foreground_1340-25699.jpg?w=900&t=st=1685530301~exp=1685530901~hmac=41414e769e105c6992160edd316b76dafc79fd400df5f2d469cdc43335d8933c"
                      alt="" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="two-add-img-div">
                    <img
                      src="https://img.freepik.com/free-photo/realistic-deer-with-nature-background_23-2150364126.jpg?w=900&t=st=1685530318~exp=1685530918~hmac=031ef3be29d6731806cbb96790990dd4165d269d2dfaf27a94a61a44f239c4a3"
                      alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $(".your-class").slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    autoplay: true,
    arrows: true,
  });
</script>