<div class="container offers-section">
  <div class="row">
    <div class="col-lg-12 col-12 mb-5 mt-3">
      <div class="category-heading text-center">
        <h1>BEST DEALS & OFFERS</h1>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
      <div class="offers-grid">
        <a href="" class="bg-color">
          <div class="offer-grids">
            <h5>199</h5>
            <h6>AMAZON</h6>
            <span class="overLayer">
              <h6>AMAZON</h6>
              <ul>
                <li>Fashion</li>
                <li>Electronic</li>
                <li>Kids Toy</li>
              </ul>
            </span>
          </div>
        </a>
        <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>399</h5>
              <h6>FLIPKART</h6>
              <span class="overLayer">
                <h6>FLIPKART</h6>
                <ul>
                  <li>Fashion</li>
                  <li>Electronic</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>99</h5>
              <h6>NAYKA</h6>
              <span class="overLayer">
                <h6>NAYKA</h6>
                <ul>
                  <li>Fashion</li>
                  <li>Makeup</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>199</h5>
              <h6>CASINO</h6>
              <span class="overLayer">
                <h6>CASINO</h6>
                <ul>
                  <li>Video Games</li>
                  <li>Electronic</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>299</h5>
              <h6>TATA CLIQ</h6>
              <span class="overLayer">
                <h6>TATA CLIQ</h6>
                <ul>
                  <li>Fashion</li>
                  <li>Electronic</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>499</h5>
              <h6>NIKE</h6>
              <span class="overLayer">
                <h6>NIKE</h6>
                <ul>
                  <li>Fashion</li>
                  <li>Shoes</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>59</h5>
              <h6>DOMINOS</h6>
              <span class="overLayer">
                <h6>DOMINOS</h6>
                <ul>
                  <li>Large Pizza</li>
                  <li>Small Pizza</li>
                  <li>Free Coke</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>89</h5>
              <h6>Mcdonald's</h6>
              <span class="overLayer">
                <h6>Mcdonald's</h6>
                <ul>
                  <li>Burger</li>
                  <li>Free Coke</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>159</h5>
              <h6>KFC</h6>
              <span class="overLayer">
                <h6>KFC</h6>
                <ul>
                  <li>Man Legs Pecies</li>
                  <li>Coke</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>99</h5>
              <h6>ZOMATO</h6>
              <span class="overLayer">
                <h6>ZOMATO</h6>
                <ul>
                  <li>Beer</li>
                  <li>Free Delivery</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>
          <a href="" class="bg-color">
            <div class="offer-grids">
              <h5>259</h5>
              <h6>BLINKIT</h6>
              <span class="overLayer">
                <h6>BLINKIT</h6>
                <ul>
                  <li>Food</li>
                  <li>Vegitable</li>
                  <li>Kids Toy</li>
                </ul>
              </span>
            </div>
          </a>

      </div>
    </div>
  </div>
</div>
