<div class="container-fluid store-section">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-12 col-12 mb-5 mt-3">
        <div class="category-heading text-center">
          <h1>ALL BEST STORES</h1>
        </div>
      </div>
      <div class="col-lg-12 col-12 mx-auto">
        <div class="all-store-grid">
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/amazon.png" alt="" />
              <p>Upto 50% Cashback</p>
              <!-- <h5>AMAZON</h5> -->
            </div>
          </a>
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/Axis.png" alt="" />
              <p>Upto 20-50% off</p>
              <!-- <h5>AXIS</h5> -->
            </div>
          </a>
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/cashdost.png" alt="" />
              <p>Upto 20-50% off</p>
              <!-- <h5>CASHDOST</h5> -->
            </div>
          </a>
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/casino.png" alt="" />
              <p>Upto 20-50% off</p>
              <!-- <h5>CASINO</h5> -->
            </div>
          </a>
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/flipkart.png" alt="" />
              <p>Upto 20-50% off</p>
              <!-- <h5>FLIPKART</h5> -->
            </div>
          </a>
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/myntra.png" alt="" />
              <p>Upto 20-50% off</p>
              <!-- <h5>MYNTRA</h5> -->
            </div>
          </a>
          <a href="../../couponsmen-store.html">
            <div class="store-grid">
              <img src="../../assets/img/logo/tatacliq.png" alt="" />
              <p>Upto 20-50% off</p>
              <!-- <h5>TATA CLIQ</h5> -->
            </div>
          </a>
          <!-- <a href="../../couponsmen-store.html">
            <div class="store-grid view-all">
              <h6>View All</h6>
            </div>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
