<div class="container-fluid p-0 footer-section">
  <div class="container">
    <div class="row upper-footer-section m-0">
      <div class="col-lg-4 col-md-4 col-12 gradient-col">
        <a href="">
          <div
            class="upper-footer d-flex align-items-center justify-content-center flex-row">
            <div class="blog-grid-title">
              <h2>501+</h2>
              <h5>Our Blogs</h5>
            </div>
            <div class="blog-arrow">
              <span><i class="fa-solid fa-arrow-right-long"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-12 gradient-col">
        <a href="">
          <div
            class="upper-footer d-flex align-items-center justify-content-center flex-row">
            <div class="blog-grid-title">
              <h2>2400+</h2>
              <h5>Best Coupons & Deals</h5>
            </div>
            <div class="blog-arrow">
              <span><i class="fa-solid fa-arrow-right-long"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-12 gradient-col">
        <a href="">
          <div
            class="upper-footer d-flex align-items-center justify-content-center flex-row">
            <div class="blog-grid-title">
              <h2>50+</h2>
              <h5>India Top Clients</h5>
            </div>
            <div class="blog-arrow">
              <span><i class="fa-solid fa-arrow-right-long"></i></span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row bottom-footer">
      <div class="col-lg-12 col-12">
        <div class="footer-logo">
          <a href=""><img src="../assets/img/logo.svg" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-12 col-12">
        <div class="footer-menu">
          <ul
            class="navbar-nav bottom-menu d-flex align-items-center justify-content-center flex-row mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">All Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">All Stores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Today's Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Weekend Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12 col-12 mt-3">
        <div class="footer-socail-media">
          <ul
            class="navbar-nav bottom-menu d-flex align-items-center justify-content-center flex-row mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-telegram"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-quora"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-pinterest"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-12 col-12 mt-3 d-flex align-items-center justify-content-between flex-row">
        <div class="footer-develper">
          <h6>Design & Develop by Couponsmen.com</h6>
        </div>
        <div class="footer-menu">
          <ul
            class="navbar-nav bottom-menu d-flex align-items-center justify-content-center flex-row mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
