<div class="container coupons-section">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 mb-5">
      <div class="heading-section">
        <h5>OUR DEALS</h5>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
      <div class="prduct-grid-section">
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/61XXdkuJzxL._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/31VtU8AVV1L._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/7173JXCs7YL._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/61lwdPXSqKL._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/91Z1Oae0RDL._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/713JP56Ox0L._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
        <div class="product-grid">
          <div class="product-img">
            <img
              src="https://images-eu.ssl-images-amazon.com/images/I/31QPmZKotmL._AC_UL160_SR160,160_.jpg"
              alt="" />
          </div>
          <div class="product-content">
            <h4>TEDSTREE Soft Toys Skin Friendly Super Soft 40 cm</h4>
            <h5>Upto 30-50% Cashback</h5>
            <div
              class="product-rate d-flex align-items-center justify-content-center">
              <h6>
                MRP <span><s>220</s></span>
              </h6>
              <h6>Rs. <span>199</span></h6>
            </div>
          </div>
          <div
            class="product-button d-flex align-items-center justify-content-between">
            <a href="#">More Details</a>
            <a href="#">Deal Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
