<div class="container store-filter-section">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="filter-slider">
        <a href="#product_load" class="filter-side">
          <div class="auto-slider">
            <h5>10+</h5>
            <h6>PRODUCTS</h6>
          </div>
        </a>
        <a href="#coupons_load" class="filter-side">
          <div class="auto-slider">
            <h5>10+</h5>
            <h6>COUPONS</h6>
          </div>
        </a>
        <a href="#deals_load" class="filter-side">
          <div class="auto-slider">
            <h5>88+</h5>
            <h6>DEALS</h6>
          </div>
        </a>
        <a href="#exclusive_load" class="filter-side">
          <div class="auto-slider">
            <h5>102+</h5>
            <h6>EXCLUSIVE COUPONS</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
